[2017-12-27 14:13] dibas opened #1 "Missing header.bin for creation of recovery sd card"
Hi! I already hit you up on Twitter, but I came to the conclusion that it probably makes more sense to talk about issues with the toolbox on the issue tracker here rather than on twitter in case anyone else stumbles upon it later on. I'm guessing header.bin contains some magic bytes? Would be great if you could clarify.

Thanks again for the project and the talk, you gave me hope for a phone that'

[2017-12-27 16:04] oranav commented on #1
I think it should work if you use a 512 bytes file full of zeros (`dd if=/dev/zero of=header.bin bs=512 count=1`). If I recall correctly, the Exynos 4412 boot ROM doesn't check anything in the header (it just skips the header).

Having said that, I'll upload the header.bin that I used in a few hours, so the script works out of the box.

[2017-12-27 17:20] dibas commented on #1
Thanks for the response. I just tried dumping the bootrom with the sd card prepared with a 512-byte null header like you suggested. My guess is that it doesn't get loaded (I can't really tell because the device is still able to boot into download mode normally), because `exploit/sboot_exploit.py shellcode/dump_fw_bootrom.bin -o 0xf1.bin --verbose` gives me this result (only pasting the last few li

[2017-12-27 18:39] oranav commented on #1
Yes, this is the correct sboot version. It seems that the exploit fails.
Are you sure that you're booting from the external SD card and not an internal sboot that is saved on the eMMC's boot partition? If you see some noise on the screen (e.g. white "stripes") it's an indicator that you indeed boot from external SD.
Can you also post the full dump with --verbose?

[2017-12-27 20:17] olifre opened #2 "Porting the approach to a i9100?"
I am not sure the github issue tracker is the correct place, but at least this gives the idea a prominent place for others to chime in.

Are you aware of any effort to port the "repair approach" to the Galaxy S2?

It seems the bug, or at least its effects, are almost exactly the same, and Samsungs "Fix", judging from personal experience and complaints in forums, has also led to freezes for this de

[2017-12-27 21:47] dibas commented on #1
I do see a completely bugged screen with white stripes and everything, but that also happens when I boot into download mode without an sd card, so I don't know if it's actually booting from sd card. Is there any way to tell?

[The whole dump of the session with verbose on](https://pastebin.com/eCwp6mTP)

Could you tell me what the SHA256 hash of the complete recovery image should be? (Still lookin

[2017-12-28 14:54] dibas commented on #1
So, after some more research I did today, is it possible that the Exynos CPU does not even look for anything on the SD card as long as the download mode on the eMMC is not bricked? That might explain why I can't get it working. [This blog post mentions the following](https://blog.fossencdi.org/u-boot-galaxys3.html):

Shortening a small resistor on the board is mentioned as an alternative way to en

[2018-01-01 02:14] array42 opened #3 "Makefile"
Had to modify the Makefile slightly, to allow asm and C11 specific syntax:
CFLAGS += -fno-stack-protector -fno-common -fomit-frame-pointer -fPIE -static -O0 -std=gnu11

Just in case someone needs it also.

[2018-01-06 14:17] oranav commented on #1
Sorry for the delay.

Yes, I once encountered this problem myself. I will upload in the next few days an exploit version which dumps sboot from the eMMC using the read vulnerability.

[2018-01-06 14:19] oranav commented on #2
You must obtain sboot.bin for this device. I never owned an i9100 but I guess it uses the same boot process, so there must be an sboot.bin somewhere. The firmware you downloaded probably did not intend to upgrade sboot, so just try to obtain something like a "stock" firmware.

The `hardkernel` files will probably not be suitable. Does your S2 boot to download mode, or is it a complete brick?

[2018-01-06 14:28] oranav commented on #3
Fixed in b276f4959927de3d74bd07ad0a40e50098851c75. Thanks!

[2018-01-06 14:28] #3 closed

[2018-01-06 14:42] dibas commented on #1
Ah, it's alright, thanks for your response! I'm looking forward to the dumping method!

I already tried reversing the XXELLA sboot.bin to replicate the way you found the offsets in case I get my hands on the sboot version installed on my device. Unfortunately I did not get very far thanks to my pretty limited knowledge of ARM and especially because of the odd binary format. It would be great if yo

[2018-01-06 15:49] olifre commented on #2
It's a complete brick.

I have by now downloaded several versions of stock firmwares. Some contain `boot.bin` and `Sbl.bin`, some only `Sbl.bin`, but I have not found a stock firmware with `sboot.bin` yet.
Checking the strings inside binaries, I would deduce `boot.bin" appears to be the `Pbl` = Primary Boot Loader, and `Sbl` is the Secondary Boot Loader.
Should sboot be there in addition, or is ju

[2018-01-06 16:14] oranav commented on #1
I just added an option to dump sboot using the exploit in c996d61e70c254106c61b76e4acb971bfb452739. Please use `exploit/sboot_exploit.py --dump -o sboot.bin`.
As for finding the correct function addresses, my best solution right now is to manually reverse the firmware (while comparing to XXELLA -- since the names in shellcode.h are my own, thus these functions are only identifiable by their XXELLA

[2018-01-06 16:31] oranav commented on #2
So you must use an external SD card to load sboot. This is of course assuming that Exynos 4210 resorts to external SD card in case eMMC boot fails - otherwise, this method won't work.

According to [this link](http://com.odroid.com/sigong/nf_file_board/nfile_board_view.php?keyword==12&tag=&bid=88), it seems that ODROID also released a method for booting U-Boot on Exynos 4210, so this does look pro

[2018-01-06 16:38] olifre commented on #2
Nice!

Here you go, first `Sbl.bin` (I did a `grep -i boot` of the output, and selected a subset of the output):
[code]
No S-Boot string in there...

And `boot.bin`:
[code]

I'd interpret the strings as if "Pbl" from `boot.bin` is a "Primitive" first loader chainloading `Sbl`, a secondary boot loader, and then `Sbl` in turn appears to chainload a linux kernel (the firmware also contains a `zImage`

[2018-01-06 16:39] dibas commented on #1
Wow, thanks a lot for the quick commit! I just sent you an e-mail with more details.

[2018-01-06 18:11] macearl opened #4 "Compatibility with different s3 models"
Would it be trivial to adapt this method to the i9305, iirc the only difference between the i9300 and i9305 was the modem and the additional ram.

Im not sure for example if I could just flash the i9300 sboot and firmware onto my i9305.

Any information on how to proceed would be appreciated.

[2018-01-07 13:18] pali commented on #2
Hi! I have Samsung Galaxy Tab 7.7 P6800 which is complete brick too and has Exynos 4210 processor, like S2. And firmware for this device does not have sboot.bin too, just boot.bin and Sbl.bin like S2.

For illustration here is content of XEU-P6800XXLQG-20130306101431.zip firmware for Tab 7.7 (it has Android 4.0.4).
[code]

New version of firmware (e.g. THL-P6800DXMD3-20130424182140.zip with Androi

[2018-01-07 13:29] pali commented on #2
Some information what boot.bin and sbl.bin is can be found there: https://android.stackexchange.com/a/142423

[2018-01-07 13:41] pali commented on #2
Maybe this could help: https://github.com/Benjamin-Dobell/Heimdall/issues/90#issuecomment-22455404 According to that dump from S3, sboot.bin is stored on partition BOOTLOADER starting at sector 0 with size 1734 bytes. Can be get a dump from working S2 device (or any other which use boot.bin & sbl.bin) to know which partition starts at sector 0 and which file is flashed there?

[2018-01-07 23:29] macearl commented on #1
I would also be interested in how to change the addresses in the shellcode.h file.
As i mentioned in https://github.com/oranav/i9300_emmc_toolbox/issues/4 im trying to resurrect a dead i9305. (not sure if this is at all possible with this toolbox, i just thought id give it a shot)

However both i9305 (one bricked, one working) i have do not have the XXELLA sboot version. (if that even exists for t

[2018-01-07 23:34] oranav commented on #1
@macearl Try to run `exploit/sboot_exploit.py --dump -o sboot.bin`. Does it work? If so, the vulnerability is there, and there's at least some hope. Send me the file using [my contact info](https://oranav.me). I don't have an I9305 to experiment with, but if it's close enough it might work.

[2018-01-07 23:35] macearl commented on #1
yes i was able to dump booth sboot versions (thats how i got the sha sums ;) )

I'll be sure to send you an email

[2018-01-07 23:45] oranav commented on #4
@macearl The working device has XXSFQA1, and the bricked one has XXUENH1.
I will check if it's close enough and let you know later.

[2018-01-09 17:40] skxo opened #5 "valid link for the ROM I9300XXELLA_I9300OXAELLA_BTU.zip please"

[2018-01-09 18:19] #5 closed

[2018-01-11 19:39] 1342 opened #6 "dump_fw_bootrom.bin runs into LIBUSB_ERROR_TIMEOUT [-7]"
When I run `sudo exploit/sboot_exploit.py --shellcode shellcode/dump_fw_bootrom.bin -o 0xf1.bin`

I get the following output:

    WARNING:root:Cannot write buffer
    Traceback (most recent call last):
      File "exploit/sboot_exploit.py", line 364, in <module>
    exploit.run_shellcode(args.shellcode.read())
      File "exploit/sboot_exploit.py", line 264, in run_shellcode
    if not self.open_

[2018-01-11 23:35] DC4JG commented on #6
Got some more informations due to --verbose flag and maybe part-success.

`sudo exploit/sboot_exploit.py --verbose --shellcode shellcode/dump_fw_bootrom.bin -o 0xf1.bin`

8x

    DEBUG:root:Opening session
    DEBUG:root:Session opened with result 100
then

    DEBUG:root:Setting isdump=1
    DEBUG:root:Reading buf part -1
    DEBUG:root:First chunk header pointer: 0x44eefe90
    DEBUG:root:Search

[2018-01-15 21:37] macearl commented on #6
probably related to https://github.com/oranav/i9300_emmc_toolbox/issues/1

Are you sure you boot into the right sboot? If the one on your phone is still functionally it seems there is no way to boot from a sd card

Try:  `exploit/sboot_exploit.py --dump -o sboot.bin` and check the sha256sum of the dumped sboot
the needed XXELLA should have
`47e0950cfac2e29556dfe6a6ce04d34731bcfb642ce9bc331aa99ddfa

[2018-01-16 12:04] DC4JG commented on #6
Not booting from microSD sounds like a good explanation and gives me new ideas to poke around. Great, thanks a lot! :)
The problem with sboot dumping is that i get another result each time:

original one from first try ever

    d46204e89db359c6f7fc035aa6d3bd6f1911189b1a98ebff5a8eb0546e66e170  SBOOT
other dumps from just now

    a15dd543b58d3084b38007c62228fc58d4d2d6436f025591aa605e581d4f55b6  sb

[2018-01-16 15:16] oranav commented on #6
This is due to the fact that I dump a part of the data segment as well. You'll never have matching hashes. Try running strings and grep for I9300, you'll see something like I9300XXELLA.

[2018-01-16 18:51] DC4JG commented on #6
This explains a lot, things start to make sense now :]

`strings` did not gave me XXELLA but i found I9300XXUGNH4 (german 4.3 Jelly Bean firmware from 2014-08-18) finally i know which version to deal with, hooray!

Thus i need to change the addresses in `shellcode/shellcode.h` for the exploit to work or force my device into booting from microSD despite seemingly working sboot?

Also if i want to v

[2018-01-20 18:22] fapsi opened #7 "Port the approach to N7100 (Samsung Galaxy Note 2)"
I am also not sure, if the github issue tracker is the correct place, [as said previously,] but maybe someone wants to join..

I managed to adapt the shellcode for my N7100 ([see this fork](https://github.com/fapsi/i9300_emmc_toolbox)). (Again, thanks a lot Oranav for your research.)

So far, I could extract the emmc-firmware, but it seems, that this device has a different firmware size ( changed

[2018-02-11 18:10] dmarszk commented on #2
As far as I remember (I've done this research some time ago already), the main issue with completely bricked I9100 devices was a lack of presigned BL1 Exynos4210.
For I9300 (Exynos4412 based), bootloading a completely bricked device is possible in 2 different ways:
1) Using FWBL1 from Odroid. It breaks out of a secure-boot chain by just jumping to the next BL stage, without validating it.
2) Using

[2018-02-11 18:43] pali commented on #2
@dmarszk when I connect Samsung Galaxy Tab 7.7 P6800 (it has Exynos 4210 too) via USB to PC, there is no boot ROM device detected at USB bus. Nothing in dmesg.

[2018-02-11 20:22] dmarszk commented on #2
@pali Then it's likely it gets stuck somewhere after iROM execution, but before SBL (**edit: there's no S-Boot**) can initialize the download mode. The only way to trigger iROM fallback to other boot sources (including iROM download mode) in that case would be by preventing the SoC from accessing the eMMC. We have had success in doing just that by shorting one of the eMMC pull-up resistors with pl

[2018-02-12 01:11] dmarszk commented on #2
I dug out some brief notes from my research done on SGS2 family in 2011/2012, if you want to play with it.
The boot order seems to be:
* iROM
* IBL (has 16 byte header, starts at 0x02021400, signature is at 0x02023800)
* PBL
* SBL
* Linux

SBL implements mostly the same download protocol (ODIN) as SGS1-3. AFAIR SGS3 was the first one to use S-Boot (essentially rewritten and renamed SBL).

There ar

[2018-02-12 17:50] olifre commented on #2
Same here for the dead SGS2 I have. Completely "dead", i.e. neither USB jig does anything, nor do I see anything in dmesg.

[2018-02-17 18:10] Badel2 opened #8 "How to find the sboot version from a dump"
I hope this helps somebody:

If you dump your sboot into a file and want to know its version you can just run

[code]

This should print a line like `I9300XXUGNA5`, which means the version is XXUGNA5, so this phone is not compatible with this exploit, which requires XXELLA.

(Of course you could also `grep XXELLA` but that won't tell you which version do you have)

[2018-02-19 21:28] macaquinyho commented on #8
I have version I9300BVBLH2
What do I need to edit in shellcode.c?

[2018-02-22 22:36] fapsi commented on #7
Hey, I did some further research, bought some further devices, but currently I'am stuck here..

Whatsoever, what I found out: There are different emmcs in the N7100 out there (this could also relate to the i9300 and i9500 from my research):
1. VTU00M (VHX0-Controller)
2. V3W00M (VMX0-Controller)

To find out, just look at the controller-description at the beginning of the firmwares. ~ (0x2009C)

F

[2018-02-24 22:19] arcaine2 commented on #7
If your device is working you can just flash XXELLA sboot with Odin and it'll be enough to make exploit working. If you, for some reason corrupt sboot that way phone will still boot from SD card and if not, testpoint can be used. If eMMC is already bad and you stucked only with working sboot but can't flash anything then adapting shellcode might be the only option. I'm actually looking for some tu

[2018-02-25 00:38] fapsi commented on #7
Ah sorry, I was imprecise on this point. In case of the N7100 there is a KNOX installed. So firmwares above (and included) 4.3 prevent downgrading the sboot (don't remember the error code). With the method I described above you can go around this issue. I was not aware, that the KNOX doesn't exist for the I9300 firmwares... Anyway yes for your problem this doesn't help.

I adapted the shellcode fo

[2018-02-26 15:56] macearl commented on #4
Did you have a chance to take a look at the files yet?

[2018-04-05 18:45] Tostis commented on #7
On my I9300 is installed XXUGND5 so i would like to port shellcode to my firmware version. I tried to find similar functions using Hopper by i couldn't manage it. I hope someone can teach me how to port shellcode or give me a dumped 0xF7 firmware.

[2018-04-05 19:36] arcaine2 commented on #7
Have you tried current version of shellcode? I noticed there were some changes made to "heuristic find mmc_dev address". I haven't got much time to try this myself just yet.

[2018-04-06 19:57] Tostis commented on #7
It does not work. Here is the stacktrace:
WARNING:root:Cannot write buffer
Traceback (most recent call last):
  File "exploit/sboot_exploit.py", line 375, in <module>
    exploit.run_shellcode(args.shellcode.read())
  File "exploit/sboot_exploit.py", line 275, in run_shellcode
    if not self.open_session():
  File "exploit/sboot_exploit.py", line 57, in open_session
    self.write(BeginSessionPac

[2018-04-06 20:23] arendtio commented on #7
@Tostis during the last 3 hours I played around with this stuff and I saw a lot of LIBUSB_ERROR_TIMEOUT errors too. Basically, the only command that worked was `--dump`. But as my firmware version is XXUGNG3 that wasn't very surprising.

Sadly I wasn't able to find the required zip file. The one closest was hosted on Google Drive https://docs.google.com/file/d/0B6lFDKRNiZ4jUUtpUHluNHpOc0k/edit  bu

[2018-04-06 20:32] Tostis commented on #7
I already have I9300XXELLA_I9300OXAELLA_BTU firmware but it can't be flashed from odin in download mode. I am missing something? I think sha256 is referred to firmware dump and that's what i need to restore my device.

[2018-04-06 20:47] arcaine2 commented on #7
In general, for exploit to work you need XXELLA boot (it's an old boootloader from 4.1.2 based firmware). This will work if you still have a working phone and want to upgrade your eMMC firmware to prevent bug from happening as you can then just flash it and shellcode will work.
If you already have a broken device that is yet still able to enter download mode but was on more recent firmware (4.3 ba

[2018-04-07 13:40] Tostis commented on #7
So the only viable solution is to boot from microsd. I've found the resistor to short circuit but it's too little... That's too far for me. I think i'll throw it away.

[2018-04-07 16:18] arcaine2 commented on #7
You don't have to remove the screen from the frame. Display flex is long enough for this to work. It's a bit tricky, but can be done with screen still connected. In general, you don't need display attached at all but then it's hard to say if you succeed to boot from SD card or not.

[2018-04-08 21:38] oranav commented on #8
Sorry for not being around lately. I just pushed a new version which should theoretically work on any sboot version! Please try it and let me know if it worked. Closing this issue for now -- reopen if needed.

[2018-04-08 21:38] #8 closed

[2018-04-08 21:46] oranav commented on #7
@Tostis, I just pushed a new version which theoretically removes all dependencies on XXELLA. Please try it and let me know if that works for you.

@fapsi, Thanks for the great work! Could you send me the V3W00M firmware? I'll look into the MMC_WRITE_MULTIPLE_BLOCK (25) issue.
From my experience, the firmware descriptor had to be updated since I erase the whole chip right before, and otherwise firm

[2018-04-08 21:48] oranav commented on #6
Sorry for being absent for the past time! I just pushed a new version which should theoretically work on any sboot version. Please try it with XXUGNH4 and report.

[2018-04-08 21:50] oranav commented on #4
I did, however after struggling with multiple sboot versions I just decided to try writing a generic shellcode which doesn't rely on any sboot address. I just pushed it, please let me know if it worked for you.

[2018-04-08 22:01] oranav commented on #2
@dmarszk Gaining code execution on the 4210 iROM sounds like a fun and interesting project :-) Even though the attack surface is probably limited.
You mentioned public key collision. Do you mean that you supply both the signature and the public key (i.e. the iROM does not have the public key hard-coded in it)?
If this is the case, the solution (as you implied) would be to generate 2 ** 32 RSA keys

[2018-04-08 22:02] oranav commented on #1
Please try the latest version, it should work with your XXUGNG3 (if I recall correctly).

[2018-04-08 22:41] arendtio opened #9 "I9300 with Firmware XXUGNG3"
I just tried the new version which should not rely on XXELLA anymore, but had no luck. I have two S3 (I9300) phones here, one working fine, the other one is broken. Judging from the dumped firmwares, both are running `XXUGNG3` (`strings SBOOT | grep I9300`).

When I take the broken phone, start it in download mode, it takes about 40 seconds with a black screen until I can see sprinkles on the scre

[2018-04-08 22:47] oranav commented on #9
Protocol initialization failed - it's even before anything interesting happened. You probably tried to run the exploit twice and the protocol is already initialized... Reboot the phone and try again.
Also, do you have an SD card inside the slot or do you boot the on-board sboot?

[2018-04-08 23:11] arendtio commented on #9
I got a similar result when I ran --dump twice without rebooting yesterday. Since then, I am rebooting the phone before every try. I tried it with SD card and without, but the result is similar, which makes me think that the sboot on the phone should be intact. I also diffed the dumped firmwares and the differences (which cause the different hashes) seem to occur very late within the files.

One t

[2018-04-09 03:33] Badel2 commented on #8
Wow thank you! I tried the new version of the exploit and it didn't work at first (timed out on "Loop malloc" after 119 tries), but I was able to find the issue! This lines of code are displacing a part of the arena memory instead of just overwriting the two pointers:

https://github.com/oranav/i9300_emmc_toolbox/blob/fd49e152a8381252c3e311f9e698df28dfdedb30/exploit/sboot_exploit.py#L339-L341

I c

[2018-04-09 06:47] oranav commented on #9
No, there's no fundamental difference. This is the normal Odin protocol initialization.
Did you press volume up once after sboot showed something on the screen? If not, try it, but I doubt it'll make a difference.
Please do check the Micro USB cable. Sometimes it can cause issues. Also try another USB port on your PC (use a motherboard built-in one, without any extenders / hubs, and avoid ports on

[2018-04-09 06:49] oranav commented on #8
Oh shit, you're right. Fixed it, thanks!

You can boot into Linux from sboot (actually you can boot to anything), but you first need to compile Linux that can run on I9300. Yes, you can also modify sboot and brick your device. And you can change the boot logo - if I recall correctly it resides in the PARAM partition.

[2018-04-09 09:44] dibas commented on #1
Hi! Great to hear from you again! I just tried the helloworld payload and it worked, so thank you very much for staying on this! I'm going to try the recovery process now and will report back on the results.

[2018-04-09 10:02] dibas commented on #1
Update: While the hello world payload works just fine, the write_fw payload apparently fails on my device. [I attached the verbose log here](https://pastebin.com/8kdL1Q9S). As you can see the shellcode's actually running on the device, so it's a new problem unrelated to the exploit itself and probably something with the shellcode that's being run. After running the exploit the device just restarts

[2018-04-09 10:17] oranav commented on #1
Okay, this seems related to the mmc_dev heuristic I added. I'll take a look later today.

[2018-04-09 12:21] arendtio commented on #9
I am not sure what caused it, but it seems after you latest commit the script progresses a step further. Meanwhile, I double checked the cable and tried the procedure with different Linux distributions (Arch, Exherbo and Kubuntu Live CD). I doubt that my USB-Ports are related to the issues I had yesterday, as I use the same for flashing ROMs.

Anyway, when I start a similar command as yesterday, I

[2018-04-09 14:56] dmarszk commented on #2
@oranav I dropped you an email with what I could dig up.
I don't think the chip actually has RSA pub-key stored in e-fuses. AFAIR it is some kind of hash/HMAC that the RSA provided in PBL image signature is validated against.
See excerpt from subsection 3.2.1 of Exynos 4210 Manual:
![image](https://user-images.githubusercontent.com/1038970/38505161-d266b5f2-3c16-11e8-9161-44d639be5296.png)

[2018-04-09 16:29] macearl commented on #4
I gave the new version a go but im not able to dump the firmware and the log does not contain any useful hints where it goes wrong. I dont have my working S3 at hand right now, i'll try dumping the firmware there later and then flashing that one to the bricked one.

[code]

For a short amount of time "Shellcode started" is readable on the screen in the top left corner and then the phone reboots ag

[2018-04-09 18:07] oranav commented on #4
Yes, other people encounter it as well - it seems that my mmc_dev heuristic has false negatives. I'll take a look into it today.

[2018-04-09 18:10] oranav commented on #2
@dmarszk Cool, thanks!

[2018-04-09 20:46] dmarszk commented on #2
I found some very interesting (and very recent) blog post - https://www.fredericb.info/2018/03/emulating-exynos-4210-bootrom-in-qemu.html

[2018-04-09 21:22] pali commented on #2
From that description in blog it looks like it is needed to find collision in SHA1 for specified OTP key or breaking included RSA public key. Or rewrtie OTP memory. Any of those options do not seem to be easy...

[2018-04-09 21:33] Badel2 commented on #9
Hi @arendtio, the same think happens to me (`mmc_dev_init` fails). That's probably because your emmc chip is not VTU00M, which means that your device is not affected by the brick bug. So in theory you should be able to unbrick the phone the usual way (flashing with odin or heimdall).

[2018-04-09 21:49] arendtio commented on #9
Hi @Badel2, do you know an easier way to find out which chip the phone actually uses than to open it? So far I didn't check which version of the chip my phones use.

[2018-04-09 22:55] Badel2 commented on #9
Yes, I'm working on it right now. You need to dump the memory arround the arena (0x440e8090 in my case), and `grep` for the chip name. For example, my chip is a `016G92` and I find its name at 0x440f4380.

~~and 0x44ef0ecc, but I also find the `VTU00M` string at 0x44ef0ec0, so I guess that the "active" chip is at 0x440..., and there is a list of all chip names at 0x44e...~~
Ignore that, the shellc

[2018-04-10 00:30] Badel2 opened #10 "Check that emmc chip is supported"
This exploit only works with emmc chip VTU00M, which is the only one affected by the i9300 brick bug. If your device can boot into android you can check the chip model with
[code]
Otherwise here is some example code that searches for the chip name in the device memory, UNTESTED FOR VTU00M but works for my 016G92.

(Add this to sboot_exploit.py, run_shellcode, after "searching for arena pointer")
[

[2018-04-10 06:57] oranav commented on #9
@arendtio I just increased the sboot area that is being searched for mmc_dev. Please try it now.

[2018-04-10 06:57] oranav commented on #4
@macearl I just increased the sboot area that is being searched for mmc_dev. Please try it now.

[2018-04-10 06:58] oranav commented on #1
@dibas I just increased the sboot area that is being searched for mmc_dev. Please try it now.

[2018-04-10 08:34] arendtio commented on #9
@oranav Thanks :-) with my good/working phone it seems to work now :+1:

[code]

That phone has a VTU00M according to `/sys/class/block/mmcblk0/device/name`.

However, my broken phone still doesn't work:

[code]

I still haven't found out which chip it actually uses. I tried reading a very large dump by modifying the `count` in `sboot_exploit.py`. That way I can read about 17MB of data. In the `la

[2018-04-10 08:49] oranav commented on #9
AFAIK zeroes usually mean the eMMC is bricked, i.e. can't boot into normal mode, since only after the eMMC boots it tells the host which chip it is. The error you encounter is still related to the mmc_dev heuristic. However it is strange that it works on one device but not on the other. Can you send me your 17MB dump?

[2018-04-10 08:57] dibas commented on #1
Thanks for the update! I recompiled the shellcodes with the new commit, but I'm still getting the same error as attached above. Still seems to be something with the mmc_dev heuristic as there's no other log line being printed.

[2018-04-10 10:23] arendtio commented on #9
@oranav I sent you both large_dump files via email.

Just to clarify: the 'working' phone doesn't have any emmc issues, which might explain why it reports its chip name. It just runs as it should on Lineage OS.

[2018-04-10 16:16] macearl commented on #4
I gave the bricked one a go, the output did not change it still fails with
[code]

Again i dont have the working one on hand right now (that's the problem with working phones, they are usually used daily ;), i'll try to steal it away again later)

Is there anything i could try to debug this further?

[2018-04-10 20:00] Tostis commented on #7
@oranav, thanks for your effort. I've just tried your last code but it doesn't work. It prints "Shellcode started" on the phone then restarts in download mode.
The shell says:
exploit/sboot_exploit.py --shellcode shellcode/dump_fw_bootrom.bin -o 0xf1.bin
[+] Shellcode started
ERROR:root:Shellcode failed
ERROR:root:Status code: -1

Is there an option to increase log verbosity?

[2018-04-10 20:07] arendtio commented on #7
@Tostis AFAIK the `--verbose` flags only increases the verbosity of the python part (not the shellcode).

So far this looks very similar to what we have in #4 and #9.

[2018-04-10 20:53] oranav commented on #7
@Tostis What about now? I refined the mmc_dev heuristic using a dump @arendtio provided.

[2018-04-10 20:55] oranav commented on #10
Thanks, but I'm pretty sure broken eMMCs don't report their controller model, thus it is pretty useless for bricked devices...
I could theoretically write something that will identify the controller of bricked eMMCs as well, but I'm too lazy to do that :)

[2018-04-10 20:55] #10 closed

[2018-04-10 20:55] oranav commented on #9
@arendtio Thank you, I did find an issue with the mmc_dev heuristic. Please try it again now?

[2018-04-10 20:56] oranav commented on #4
@macearl I debugged it using a memory dump @arendtio provided. Pushed a fix, could you try it again?

[2018-04-10 20:58] oranav commented on #2
@pali This is actually worse - it's not a collision, but more like a second preimage ;) I think that without any code execution vulnerability this will be basically impossible, unless Samsung did something very stupid with their RSA key generation.

[2018-04-10 20:59] oranav commented on #1
@dibas Yes, there was another problem with the heuristic. Try it with the latest version pushed now?

[2018-04-10 21:09] dibas commented on #1
I can confirm write_fw.bin just ran through without any problems! Nice work!! Didn't see any errors in the output and it finished with a "shellcode is done, rebooting" message. I will now attempt the sd card recovery. Will keep you updated on the results!

[2018-04-10 21:53] dibas commented on #1
Good news first: Resizing and downloading the bootloader from sd card worked just fine! I am not really sure how to proceed from here though. I just tried flashing a i9300 pit file (I still had it on my hard drive, not sure where it came from) using heimdall in combination with TWRP-Recovery and heimdall just reported a failed PIT upload. Do the stock firmware files contain a PIT?

[2018-04-10 22:00] arendtio commented on #9
I tried your new version and it looks like the heuristic works now :-)

Sadly something else seems to be broken. Short version:
[code]
Full log: [failed_attempts.log](https://github.com/oranav/i9300_emmc_toolbox/files/1896540/failed_attempts.log)

I am not quite sure what this is supposed to mean, but all those failed reads are certainly not a good sign. Do you have an idea what status -19 is abou

[2018-04-10 22:02] oranav commented on #1
This is actually great news. Your eMMC is back alive :-)
I couldn't flash the PIT with Heimdall as well; I resorted to a Windows VM and Odin and it worked. PIT can be found [here](https://forum.xda-developers.com/galaxy-s3/help/solved-pit-bricked-dead-problem-gt-t2535367).

[2018-04-10 22:05] arendtio commented on #9
I just took a look at the shellcode for `dump_fw.bin` and there it looks like `mmc_enter_read_ram` fails which is probably a bad sign, as if I remember your talk correctly, that is the key part to having access to the memory :-/

[2018-04-10 22:06] oranav commented on #9
Yes, [it means timeout](https://github.com/dmarszk/exynos4_uboot/blob/master/include/mmc.h#L54).
Seems that for some reason your chip isn't responding to the eMMC BootROM knock sequence :-( It may be bricked in a hardware sense, and it may not be the same chip I've researched. I'll try to think if there's anything else to do, but I don't have high expectations... Sorry.

[2018-04-10 22:09] pali commented on #2
Yes, preimage :-( Anyway, looking at it again and description of verification seems strange

How can be signedData generated if it is input for HMAC itself?

[2018-04-10 22:23] oranav commented on #2
rsaPubKey is given. Calculate HMAC using some constant predefined key: `HMAC(constantKey, rsaPubKey) = signedData`. Set `OTP_key = signedData ⊕ constantKey`. Then everything works.

[2018-04-10 22:42] dibas commented on #1
Yeah, it's pretty amazing, thank you for your work again!
Thanks for telling me, flashing with Odin worked for me, too. I also flashed a stock firmware I still had on my drive, and lo and behold: the Samsung i9300 logo popped up, a sound played and it changed to the glowing Samsung logo. Not much happened since then, though. I assume the files I flashed are incomplete, I will try to get my hands o

[2018-04-10 22:42] pali commented on #2
Ok, now I see it. Samsung first generated RSA key and signed with it bootloader (generated signedData) and after then it generated OTP key and wrote it into devices. (I was in impression that OTP key was there first...)

If there is not any vulnerability for rewriting OTP memory it is really impossible to generate new valid signedData.

[2018-04-10 22:56] oranav commented on #1
Did you format all the partitions correctly? Install some recovery (e.g. TWRP) and mkfs everything. This includes /data, /cache, efs and /sdcard (maybe I forgot one or two more). Your eMMC is pretty much all FFs so no partition is valid (except the ones you flashed, i.e. system, boot, recovery and modem).

[2018-04-10 23:21] arendtio commented on #9
There is one thing I am wondering: If it is a timeout, is there some way to control the duration until the timeout occurs? As I wrote earlier, the broken phone takes about 40 seconds to boot into download mode, which I find kinda odd too and maybe it just takes a few seconds or so to acknowledge the knock sequence.

[2018-04-10 23:55] dibas commented on #1
[Success!!!](https://imgur.com/PjLRGiL) Installing TWRP worked, but after wiping pretty much everything I still could not get neither the stock rom nor Lineage OS past the boot animation. TWRP kept complaining about /efs obviously not being mountable for the reasons you mentioned, but I luckily still had a reaally old nandroid backup of this device including all partitions. I just restored all of

[2018-04-11 09:01] oranav commented on #1
Cool! Glad to hear :smiley:
Now let's just hope that the generic implementation works on every sboot version :-)

[2018-04-11 09:01] #1 closed

[2018-04-11 12:04] oranav commented on #9
It should be possible by patching sboot's implementation. I actually did not implement the eMMC stack but instead just reused the sboot one (out of pure laziness :wink:). I will look into it in the next few days. But please be advised that if it takes about 40 seconds to boot into download mode, I suspect something else is going on (and not the usual eMMC brick bug I know about).

[2018-04-11 12:44] arcaine2 commented on #9
Semi worked on mine with I9300XXUGND5 sboot. I get:

[code]

and apropriate messagess on phone screen but it hangs on ["erasing all blocks on eMMC (low-level format)"](https://imgur.com/a/6evVy) for couple minutes now. Previous board i tried (that i bricked intentionally and booted from SD) didn't take that long.

It timed out eventually and with -v i see this, continuing:

[code]

I repeated the

[2018-04-11 13:42] oranav commented on #9
@arcaine2 Did everything in the shellcode feel "slower" than usual when you tried with I9300XXUGND5? This could be explained if I misidentify the sleep() function (it's also done by a simple heuristic).

[2018-04-11 13:49] arcaine2 commented on #9
A bit, compared to earlier version that worked only with XXELLA but not by much. I also think that i bricked it by unplugging the phone while it was on "erasing all blocks". I may have not waited long enough second time when i saw more messages like "read 2 bytes failed" (this time 2 bytes instead of 42).

[2018-04-11 19:06] macearl commented on #4
I just gave it a go.

It looks like i have the same problem as arendtio in https://github.com/oranav/i9300_emmc_toolbox/issues/9

[code]
the dumped file has the sha256sum: `9a171aca6a556121461d09b76d3ba6da0d98e46dfb4e971ae9790fb61e4eb419`
(so im guessing a different chip or some unknown firmware?)

trying to write fw:
[code]

After this the phone does not boot into download mode without a SD card

[2018-04-11 20:04] oranav commented on #4
@macearl I once encountered sboot being stuck on `COPY BINARY TO EMMC...` but after multiple times it worked. With bricked devices it should write `FAILED` afterwards. Can you try it a couple more times?

In any case, can you send me the eMMC firmware you dumped? And can you send the sboot dump from the working device?

[2018-04-11 20:21] macearl commented on #4
I'll try it again a few times, how long should i wait for it to finish? I let it sit for ~20 minutes the first time. And the second attempt is running for roughly 5 minutes now.

Sure i'll send you the dump and the sboot of the working device (would be the same file i sent you last time or should i do a redump with the newest version?)

[2018-04-11 21:12] oranav commented on #4
It should take about 10-20 seconds actually. Can you try running change_boot_partition_size again? if it works then the eMMC isn't bricked.
The old sboot dump is enough... I forgot about it.

[2018-04-11 23:15] fapsi commented on #7
@oranav Thanks so much for your help!, that makes sense. I was already wondering about that part, but I wasn't able to find out the way to determine that location. Additionally, it seems that writing the descriptor also failed at some locations, but I'am not sure about that.. I'll soon send you an email with the V3W00M-fw. Also I will test the heuristics for the N7100-sboot and report the results.

[2018-04-12 15:31] macearl commented on #4
Seems to still work, however it took a lot longer than before and the S3 is not automatically rebooting (but i think it didn't the first time)

[code]

[2018-04-12 17:59] Tostis commented on #7
Last code version fails printing:

[+] Shellcode started
[*] Found MMC device address
ERROR:root:Shellcode failed
ERROR:root:Status code: -19

EDIT: Sorry, it worked running with root privileges!

[2018-04-13 10:09] oranav commented on #7
@Tostis Worked as in the whole process worked?

[2018-04-13 21:10] Tostis commented on #7
Firmware dump and low level format worked well. Now I'm stuck because i can't boot in dowload mode using microsd.

[2018-04-21 06:19] herbsmn commented on #2
sounds like we need to h4x0r iROM.

on the verizon version of the Galaxy Note II, which I think is a slightly different Exynos SoC, there was a claim that people had an iROM exploit. https://github.com/dmarszk/exynos4_uboot/issues/4

i wonder what their method was and if it can be reused on the i9100.

[2018-04-29 18:19] raipat commented on #7
Thanks for sharing this awesome progress on the Note 2!
I would like to dump the content of a damaged Note 2 eMMC instead of wiping it.
Do you think that is doable? I have a working test device and the broken one.

[2018-05-01 18:36] fapsi commented on #7
@Tostis Now you can follow steps 5-7 in the instruction.
@raipat Since I've done that I would say yes, but it depends upon whats corrupt with your emmc-chip. If it's a meta-data corruption I would say yes. The instructions are the same as for the i9300 (refer step Obtaining a firmware dump -> Obtaining the firmware from your bricked device (0xF1)) Unfortunatly I didn't test the heuristics yet for

[2018-05-03 21:15] arcaine2 commented on #7
Heuristics doesn't seem to work for N7100XXDME6. I have a device that doesn't boot at all without microSD. I flashed XXDME6 to SD so the phone enters download mode but with current version of shellcode, i only get "Exception: Could not find mmc_startup() in this boot". Nothing works really works, dumping eMMC firmware, helloworld etc. With verbose i see that it's finding sleep(), display(), clk1()

[2018-05-26 19:02] theandroid02 opened #11 "Error when trying to dump 0xf7"
[https://imgur.com/a/ZnUSdoj](url)

[2018-06-05 21:27] minealex2244 commented on #11
Same here for 0xf1

[2018-06-05 21:27] minealex2244 commented on #11
Same here for 0xf1   (**SEE THE FIX BELOW**)

minealex2244@minealex2244-desktop:~/Desktop/i9300_emmc_toolbox-master$ exploit/sboot_exploit.py --shellcode shellcode/dump_fw_bootrom.bin -o 0xf1.bin
Traceback (most recent call last):
  File "exploit/sboot_exploit.py", line 470, in <module>
    exploit = Exploit()
  File "exploit/sboot_exploit.py", line 30, in __init__
    self._odin.open()
  File "/h

[2018-06-06 13:35] minealex2244 commented on #11
**The fix is pretty simple: just type "sudo su", enter your password and it will work.**

[2018-06-10 11:14] macaquinyho commented on #11
Ok now i got the dump from the good phone (0xf7) but the checksum is 9a171aca6a556121461d09b76d3ba6da0d98e46dfb4e971ae9790fb61e4eb419
insted of
1c3ce3148704e21749c6b59ff88c7a133d385024f70038615806ae9e95798dbf

@oranav and i can't dump 0xf1 from my bad phone (sboot I9300BVBLH2) because it gives me

root@ubuntu-mate:/home/ubuntu-mate/Desktop/i9300_emmc_toolbox-master# exploit/sboot_exploit.py --shel

[2018-06-10 11:19] minealex2244 commented on #11
To be honest I'm not sure if reviving a dead S3 it's worth. You will loose EFS forever, you won't be able to recover any files but I think that it's still good as a non-daily driver. P. S. I successfully revived my S3.
Regarding your problem, did you got XXELLA sboot on your SD card?

[2018-06-10 11:25] minealex2244 commented on #11
P. S. I didn't check the MD5 sums and it worked. :))

[2018-06-10 11:44] macaquinyho commented on #11
My bad phone has the sboot partition intact, because i can boot to download mode no problem
Gonna try writing now the 0xf7 in the bad phone
EDIT: i get the same error as dumping

[2018-06-15 17:25] ghost commented on #11
@theandroid02
I got the same checksum. Any Idea what version this is?

[2018-06-19 14:26] macaquinyho commented on #11
Nope i have no idea

[2018-07-09 20:40] DC4JG commented on #6
[code]

[2018-07-09 23:05] DC4JG commented on #6
New roadblock:

[code]

Maybe helpful information: I have a 32GB model and never rooted it

[2018-07-10 20:30] oranav commented on #11
@theandroid02 I'll take a look at your sboot binary and try to fine-grain the heuristics I'm using. Will update soon.
In addition, can you email me your eMMC firmware dump? You can find my contact information [here](https://oranav.me)

[2018-07-10 20:35] oranav commented on #9
Unplugging during "Erasing all blocks" should generally be __fine__ (take it with a grain of salt), since I should be able to recover every phone (as long as the hardware is still intact).
Having said that, I'm not sure what is going on in your case, and it's hard to debug it remotely, so unless someone comes up with an idea, I'm not sure what to do...

[2018-07-10 20:37] oranav commented on #7
Did you manage to dump the eMMC firmware? If this is the case, I can take a look to see if anything interesting is going on

[2018-07-10 20:38] oranav commented on #6
@1342 Did you write firmware 0xf7?
Also, if you have never rooted it I'm guessing you don't have an EFS dump, and sadly this method will erase your device completely, therefore be advised that your baseband information (e.g. IMEI) will be erased.

[2018-07-10 20:40] oranav commented on #4
Looks like it's working though. Any luck using SD CARD mode?

[2018-07-10 21:16] oranav commented on #11
@theandroid02 I couldn't find the sboot you mentioned. Do you have the ROM that contains it? If not, can you dump it (`sudo exploit/sboot_exploit.py --dump --output sboot.bin`) and send it to me?

[2018-07-10 21:40] DC4JG commented on #6
I don't have 0xf7 so i wrote the 0xf1 i got from the device. I know about the EFS problem but since the device is considered 'dead' i appreciate a working device without baseband :)

As far as i understand the procedure i am now stuck at step 5.

[2018-07-11 00:24] macearl commented on #4
I havent tried again since april, back then i was stuck on copy binary to emmc

now i just tried again and all the commands finish ok
[code]

[code]

However now no matter what i try im not able to enter SDCARD MODE with the recovery sd again (im not 100% sure but i think i actually did not have to short the resistor back in april, now im not able to boot into anything with the recovery sd card, a

[2018-07-11 09:12] fapsi commented on #7
Hi oranav,
I sent you an email with the dump.

[2018-07-11 18:32] DC4JG commented on #6
Retried with 0xF7.bin
- booted into download mode
- run step 3
- device rebooted and was still visible under lsusb
- run step 5 and got the same error code -19

[2018-07-22 19:24] alexrun commented on #5
Where did you get the link?

[2018-08-15 18:07] fapsi commented on #7
Hm.. really weird error. I think the problem is related to the data parameter of cmdidx 25 . Maybe the mmc_data struct layout has changed. Any suggestions how to check that?

[2018-08-15 18:15] fapsi commented on #7
@oranav how did you determine the fw-descriptor address? I think for the N7100 it should be 0x60AB8 with a slightly modified descriptor: (see https://github.com/fapsi/emmc_toolbox/blob/master/shellcode/write_fw.c ). But it don't work; (I did send you the firmware(0x00000-0x20000) and (0x40000-0x80000) but I am not sure if you receive my emails.)
Could the data parameter in cmdidx 25 be a problem?

[2018-09-26 19:06] herbsmn commented on #2
There's some incredible work going on related to porting the i9300 and n7100 to uboot based on the iROM exploit that I linked to in April. https://blog.forkwhiletrue.me/

Does this work rise to the level of being worthy of being mentioned on the README of this project?

[2018-12-04 13:08] NGC935 opened #12 "Need a Samsung S4 with the same problem?"
hi, i just saw your presentation at 34C3and it's such a pity we didn't met. Because i got a bricket S4 which behaves exactly like a bricked S3: Weird OTA update, no bootloader on screen, the owner bricked it while I was talking to him. I got it now, if you want it, you can have it.

[2018-12-23 21:04] DDevil97 opened #13 ""Read 2 bytes failed" when tryng to dump 0xF1"
Hello.
Im trying to revive a bricked i9300, but i cannot dump the eMMC firmware, it starts and shows text on the phone screen, but gets stuck saying "Read 2 bytes failed" (i have --verbose in the parameters).
The "hello world" works, also dumping the SBOOT. I have the UBUGNK1 bootloader.
I can describe more if someone can help me.

[2018-12-24 08:02] macaquinyho commented on #13
https://theandroid02.github.io/i9300-EMMC-GUIDE/

Try my guide if you want, I have a 0xF7 dump there.
Any problem tell me

[2018-12-24 09:31] DDevil97 commented on #13
Hello thank you very much!
I'm still having problems, i followed all the steps for the three diferent types of bricks, i will describe what the phone does: If i just try to turn it on, it tooks like 15 seconds to "turn on", and then just a blank screen or colored white noise apears on the screen. Booting into download mode does the same thing.
If i try to boot from sd card (volume down+home+power

[2018-12-24 09:55] macaquinyho commented on #13
So, if I understand this correctly, your phone even with no sdcard boots to the white "corrupted" screen?

[2018-12-24 09:57] DDevil97 commented on #13
Exactly! and is the only thing it will do apart from that "fake" download mode

[2018-12-24 10:00] macaquinyho commented on #13
If you boot with the sdcard and dump sboot, what version does it give you?

[2018-12-24 10:00] DDevil97 commented on #13
Wait a moment please!

[2018-12-24 10:09] DDevil97 commented on #13
No luck, the same as before, UBUGNK1, seems like isnt booting from the sd

[2018-12-24 10:23] macaquinyho commented on #13
I have an idea, at this point just email me at ggmaget@gmail.com or join this telegram group: @S3bois

[2019-01-05 20:21] oranav commented on #13
@DDevil97 As I see it there are two options. Either your eMMC is bricked by a different bug (maybe a hardware issue) and therefore is unrestorable using my method -- this explains error -19 (eMMC timeout), or that my exploit isn't compatible with your bootloader, therefore its heuristics cannot find the correct functions to execute. Had you had any luck using the type 3 guide (resistor short)? Or

[2019-01-06 09:49] macaquinyho commented on #13
@oranav, he told me he booted XXELLA with the resistor method, but i havent heard of him since.

Oh and months ago i unbricked mine that had a 4.0.4 bootloader ( incompatible) with type 3.

[2019-02-19 18:17] r2d23cpo opened #14 "Porting to S3 AT&T SAMSUNG-SGH-I747"
I did sent you a couple emails.  In general I like to port to S3

Phone SPECS
    Chipset 	Qualcomm MSM8960 Snapdragon S4 Plus
    CPU 	Dual-core 1.5 GHz Krait
    ro.product.model=SAMSUNG-SGH-I747
    ro.product.device=d2att
    ro.product.board=MSM8960

MMC model type is MAG4FB nor VZL00M
-----------------------------------------------------------------------------------------------------
root@d

[2019-02-21 07:10] onesmallcoin opened #15 "n7105 sd card mode"
Hi!

I have a Note II (N7105) that is currently only booting from microsd card as documented here:
https://forum.xda-developers.com/showthread.php?t=2586604
I've tried the XXAELLA firmware documented in this fork but haven't had much luck at getting it to respond,
is the rom from the fork compatible with my device? It would be great to get it working somehow, I'm happy to do anything required to t

[2019-02-23 08:17] r2d23cpo commented on #14
UHH I just found at XDA that we should use the following to get fw version
cat /sys/class/block/mmcblk0/device/cid | cut -b 19,20

witch produce "f1"   just by lock

The whole string is
cd /sys/class/block/mmcblk0/device/
cat cid         => 1501004d4147344642f17c1eb1165f76
cat name     => MAG4FB
cat date       => 05/2012

[2019-03-02 03:24] r2d23cpo commented on #14
I am pretty sure you are a busy man.  But I like to do some test on my side and at this starting point I feel afraid.  As I do not want to hurt my working donor phone.  I just need some advice.

Facts.  I know your hack is not for “Chipset Qualcomm MSM8960 Snapdragon S4 Plus" nor ment to work for "MAG4FB " emmc.  So there should be very litle hope.  That is fine.

But I like to get atleast my firm

[2019-03-15 15:58] DDevil97 commented on #13
Sorry for dissapearing, i gave the phone dead for good, i wasn't able to boot to XXELLA , the resistor method definitively boot into the "boot from sd card" menu, but every time it failed, as far as i know, the phone is unable to write to the eMMc, probabily due to hardware failure as oranv says. In these months i made several attemps with no luck, any discoveries or something i may find i will po

[2019-04-17 19:09] macaquinyho commented on #9
If you have a s3 that doesn't work with the shellcode try my fork, i have a solution, I have a full website guide with windows instructions also. https://theandroid02.github.io/i9300-EMMC-GUIDE/

[2019-06-25 13:32] markheng8 commented on #4
I have an S3 LTE (GT-I9305) which mysteriously died a week ago. After much searching on YouTube, I chanced upon the talk Oranav gave and came here :)

Any update on whether a dead I9305 can be recovered, as previously asked by macearl in this thread?

Also, can someone be kind enough to post a zip for the shell cross-compiled bins? I'm on Windows and severely "handicapped" without those Linux tool

[2019-06-26 08:22] macaquinyho commented on #4
Hi, I have a guide here that has precompiled binaries and is compatible with windows. BE CAREFUL AS IT IS FOR i9300. Don't flash anything yet, just try to dump your own firmware. https://github.com/theandroid02/i9300-EMMC-GUIDE

[2019-06-27 07:33] markheng8 commented on #4
Thank you @theandroid02 for your help with the compiled bins... sure gives me hope on resurrecting my S3 :)

At first I downloaded the zip and those bins weren't there! Then I realized there had been 4 releases and I hadn't gotten the latest lol.

Went ahead to make the preparations you outlined and managed to execute the eMMC erase code to some extent, but the code kept stopping at the same point

[2019-07-16 12:34] markheng8 commented on #4
Still hopeful to get some help here, before I throw the S3 away for good :)

[2019-07-30 08:54] markheng8 commented on #4
Hmm, doesn't look like anyone's looking at this thread anymore? Alright then, the S3 is going to the dumps :)

[2019-07-31 17:51] macaquinyho commented on #4
Hey, I might be able to help. Better email me at ggmaget@gmail.com or join this telegram group
@S3bois

[2019-09-24 16:19] herbsmn opened #16 "Towards a 100% libre bootloader for Exynos4412 based Galaxy S3 and Note II devices"
Hello Galaxy S3 hackers,

The GT-I9300 eMMC toolbox is an excellent hack, but it likely would have never been needed had there been a way, years ago, to compile and flash a fully working bootloader to the eMMC that respects the four software freedoms. The fact is though, that wasn't an option previously, so the eMMC toolbox was very much needed and I very much appreciate @oranav providing us all w

[2020-06-04 12:50] pali commented on #2
@herbsmn: I guess that does not help with booting on i9100 with Exynos 4210.

[2022-01-29 23:46] uragan1987 opened #17 "SPI MMC CMD List / Reverse"
hi oranav

really nice works you did here
can i contact you directly over mail or whatsapp?

i really interest at how you got all this CMD62,, and if it is possible to use it over MMI/SD SPI connection.

[2022-02-21 21:57] raipat commented on #7
I'd like to bump this issue. Has there been some update or progress since 2018?